@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --green-dark: #323e45;
  --red: #B20000;
  --red-light: #FD292F;
  --carrot: #FE8535;
  --yellow: #FDB10B;
  --yellow-light: #FEF4C0;
}
@layer components{
	.nav-btn{
		@apply border-b-2  border-[color:var(--red)] hover:text-[color:var(--red)] hover:border-[color:white] duration-300 mr-4
	}
  .container{
    @apply mx-auto px-4
  }
}